# Dependencies
node_modules/
.pnp
.pnp.js
yarn.lock

# Next.js
.next/
out/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
*.code-workspace

# OS
.DS_Store
Thumbs.db
